<launch>
    <param name="use_sim_time" value="false" />

    <!-- Main node -->
    <node name="orb_slam3" pkg="orb_slam3_ros" type="ros_rgbd_inertial" output="screen">
        <!-- change the topics according to the dataset -->
        <remap from="/camera/rgb/image_raw"                 to="/robot/front_rgbd_camera/front/rgb/image_rect_color"/>
        <remap from="/camera/depth_registered/image_raw"    to="/robot/front_rgbd_camera/front/depth/depth_registered"/>
        <remap from="/imu"                                  to="/robot/front_rgbd_camera/front/imu/data"/>

        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file"      type="string" value="$(find orb_slam3_ros)/orb_slam3/Vocabulary/ORBvoc.txt.bin"/>
        <param name="settings_file" type="string" value="$(find orb_slam3_ros)/config/RGB-D-Inertial/Roboter.yaml"/>

        <!-- Parameters for ROS -->
        <param name="world_frame_id"    type="string"   value="world" />
        <param name="cam_frame_id"      type="string"   value="camera" />
        <param name="imu_frame_id"      type="string"   value="imu" />
        <param name="enable_pangolin"   type="bool"     value="true" />
    </node>
    

    <!-- Trajectory path -->
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_orb_slam3" output="screen" ns="orb_slam3_ros" >
        <param name="/target_frame_name" value="/world" />
        <param name="/source_frame_name" value="/imu" />
        <param name="/trajectory_update_rate" value="10.0" />
        <param name="/trajectory_publish_rate" value="10.0" />
    </node>
 
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
                <remap from="cloud_in" to="/orb_slam3/all_points"/>
                <rosparam>
                        min_height: -1.0
                        max_height: 1.0
                        angle_min: -3.14
                        angle_max: 3.14
                        angle_increment: 0.001
                        scan_time: 0.1
                        range_min: 0.5
                        range_max: 35
                        use_inf: false
                </rosparam>
    </node>

    <node pkg="pointcloud_to_laserscan" type="laserscan_to_pointcloud_node" name="laserscan_to_pointcloud">
                <remap from="scan_in" to="scan"/>

    </node>

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.25" />
		<param name="sensor_model/hit" value="0.8" />
                <param name="sensor_model/miss" value="0.3" />
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="world" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="15.0" />

		<param name="base_frame_id" value="/camera" />

		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="/cloud" />
	
	</node>
</launch>