<launch>
    <param name="use_sim_time" value="false" />

    <!-- Main node -->
    <node name="orb_slam3" pkg="orb_slam3_ros" type="ros_rgbd" output="screen">
        <!-- change the topics according to the dataset -->
        <remap from="/camera/rgb/image_raw"                 to="/zed2/zed_node/rgb/image_rect_color"/>
        <remap from="/camera/depth_registered/image_raw"    to="/zed2/zed_node/depth/depth_registered"/>


        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file"      type="string" value="$(find orb_slam3_ros)/orb_slam3/Vocabulary/ORBvoc.txt.bin"/>
        <param name="settings_file" type="string" value="$(find orb_slam3_ros)/config/RGB-D/Roboter_test.yaml"/>

        <!-- Parameters for ROS -->
        <param name="world_frame_id"    type="string"   value="world" />
        <param name="cam_frame_id"      type="string"   value="zed2_left_camera_optical_frame" />
        <param name="enable_pangolin"   type="bool"     value="true" />
    </node>
    
    <!-- Visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d /home/nils/catkin/vis3.rviz" output="screen" />
    <node pkg="tf" type="static_transform_publisher" name="world_transform" args="0 0 0 0 0 1.57 world new_world 100"/>
    <node pkg="tf" type="static_transform_publisher" name="cam_transform" args="0 0 0 0 0 1.57 zed2_left_camera_optical_frame new_front_rgbd_camera_left_camera_optical_frame 100"/>
    <node pkg="tf" type="static_transform_publisher" name="cam_transform2" args="0 0 0 0 0 -1.57 front_rgbd_camera_left_camera_frame front_rgbd_camera_left_camera_optical_frame 100"/>

 


    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_all_points">
                <remap from="cloud_in" to="/points"/>
                <remap from="scan" to="/scan_out/all_points"/>
                <rosparam>
                        target_frame: new_front_rgbd_camera_left_camera_optical_frame
                        min_height: -1.0
                        max_height: 1.0
                        angle_min: 0.7
                        angle_max: 2.45
                        angle_increment: 0.025
                        scan_time: 0.5
                        range_min: 0.5
                        range_max: 10
                        use_inf: true
                </rosparam>
    </node>

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" />

  <node pkg="nodelet" type="nodelet" name="point_cloud_xyz" args="load depth_image_proc/point_cloud_xyz standalone_nodelet">
    <remap from="camera_info" to="/zed2/zed_node/depth/camera_info" />  
    <remap from="image_rect" to="/zed2/zed_node/depth/depth_registered" />

</node>

<arg name="fixed_frame1" default="new_world" />

<arg name="sensor_topic6" default="/scan_out/all_points" />
<arg name="vis_topic6" default="/kf_ranges" />

<node name="kf"
pkg="own_package"
type="all_kf_scan.py"
output="screen">

<param name="frames/fixed" value="$(arg fixed_frame1)" />
<param name="topics/vis" value="$(arg vis_topic6)" />
<param name="topics/sensor" value="$(arg sensor_topic6)" />

</node>

<arg name="fixed_frame2" default="new_world" />
<arg name="sensor_frame2" default="new_front_rgbd_camera_left_camera_optical_frame" />


<arg name="sensor_topic2" default="/kf_ranges" />
<arg name="vis_topic2" default="/vis/map" />

  <arg name="fixed_frame" default="new_world" />
 

  <arg name="sensor_topic5" default="/cpp_occ_map" />
  <arg name="sensor_topic52" default="/orb_slam3/camera_pose" />
  <arg name="vis_topic" default="/vis/map_test" />
  <node name="Potf"
        pkg="own_package"
        type="Potentialfeld.py"
        output="screen">

    <param name="frames/fixed" value="$(arg fixed_frame)" />

    <param name="x/num" value="300" />
    <param name="x/min" value="-30.0" />
    <param name="x/max" value="30.0" />
    <param name="y/num" value="300" />
    <param name="y/min" value="-30.0" />
    <param name="y/max" value="30.0" />
    <param name="topics/vis" value="$(arg vis_topic)" />
    <param name="topics/sensor" value="$(arg sensor_topic5)" />
    <param name="topics/sensor2" value="$(arg sensor_topic52)" />
  </node>

   <node name="Mapping"
        pkg="own_package"
        type="occmapping"
        output="screen">

  </node>

    <node name="Calc_Pot2"
        pkg="own_package"
        type="occmap2"
        output="screen">

  </node>

</launch>